/* Le Css */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    padding: 0 2%;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    scroll-behavior: smooth;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    margin-right: -2.1%;
    margin-left: -2.1%;
    padding-right: 2.1%;
    padding-left: 2.1%;
}
nav .LeProfile{
    display: flex;
    align-items: center;
    img{
        width: 40px;
        height: 40px;
        border-radius: 40%;
    }
    h1{
        margin-left: 10px;
        font-size: 30px;
    }
}



@media screen and (max-width: 700px) {
    nav{
        justify-content: center;
        ul{
            display: none;
        }
    }       
    .section1_de_la_page{
        margin: 5%;
        header{
            margin-top: 10%;
            max-width: 100%;
        }
    }
    footer{
        justify-content: flex-start;
        text-wrap: wrap;
        flex-wrap: wrap;
    }
    footer .Colonne{
        width: 80%;
    }
}

nav ul{
    display: flex;
    list-style-type: none;
    a{
        text-decoration: none;
        color: black;
    }
}
nav ul li{
    margin-left: 20 px;
    cursor: pointer;
    border-bottom: 1px solid white;
    margin: 10px;
}
nav ul li:hover{
    border-bottom-color: black;
}

.section1_de_la_page{
    margin: 4%;
    header{
        margin-top: 5%;
        max-width: 80%;
        h1{
            margin: 0;
            /* text-transform:none; */
            font-size: 3dvw;
        }
        p{
            line-height: 30px;
            color: #80808080;
        }
    }
    .imageNumeroUn{
        margin-top: 5%;
        img{
            transition: filter 0.5s;
            filter: brightness(50%);
            filter: blur(5px);
        }
        img:hover{
            filter: brightness(100%);
            filter: blur(0px);
        }
    }
}
footer{
    margin-top: 5%;
    margin-right: -2.1%;
    margin-left: -2.1%;
    display: flex;
    text-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    color: azure;
    padding: 5px;
    padding-bottom: 10%;
    .Colonne{
        a{
            text-decoration: none;
            color: azure;
        }
        p{
            font-size: 12px;
            cursor: pointer;
        }
        p:hover{
            color: blue;
        }
    }
}
.kaliSVG{
    margin-top: 0%;
}
.footer-logo-kaliSVG{
    max-width:30%;
}

