/* Le Css */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import '../style.css';
/* Style css de base ↑ */
/* Style css override/surcharger ↓ */

body{
    /* background-color: none; */
    --main-bg-color:#000;
    --cross-color:#666;
    --ligne-color-R:255;  /* var(--ligne-color-R) */
    --ligne-color-G:255;  /* var(--ligne-color-G) */
    --ligne-color-B:255;  /* var(--ligne-color-B) */
    background:
        linear-gradient(-90deg, rgba(var(--ligne-color-R),var(--ligne-color-G),var(--ligne-color-B),.03) 1px, transparent 1px),
        linear-gradient(rgba(var(--ligne-color-R),var(--ligne-color-G),var(--ligne-color-B),.03) 1px, transparent 1px), 
        linear-gradient(-90deg, rgba(var(--ligne-color-R),var(--ligne-color-G),var(--ligne-color-B), .02) 1px, transparent 1px),
        linear-gradient(rgba(var(--ligne-color-R),var(--ligne-color-G),var(--ligne-color-B),.02) 1px, transparent 1px),
        linear-gradient(transparent 3px, var(--main-bg-color) 3px, var(--main-bg-color) 78px, transparent 78px),
        linear-gradient(-90deg, var(--cross-color) 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, var(--main-bg-color) 3px, var(--main-bg-color) 78px, transparent 78px),
        linear-gradient(var(--cross-color) 1px, transparent 1px),
        var(--main-bg-color);
    background-size:
        8px 8px,
        8px 8px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px;
    color: #FFF;
}

nav{
    background-color: black;
    color: #FFF;
    top: 0;
    margin-right: -2.1%;
    margin-left: -2.1%;
    padding-right: 2.1%;
    padding-left: 2.1%;
    z-index: 10;
    box-shadow: 25px 25px 25px #00000030;
}

nav ul{
    display: flex;
    list-style-type: none;
    a{
        text-decoration: none;
        color: white;
    }
}
nav ul li{
    margin-left: 20 px;
    cursor: pointer;
    border-bottom: 1px solid black;
    margin: 10px;
}
nav ul li:hover{
    border-bottom-color: white;
}
.section1_de_la_page{
    margin: 4%;
    header{
        margin-top: 5%;
        max-width: 80%;
        p{
            line-height: 30px;
            color: #cfcfcfcF;
        }
    }
    nav {
        display: flex; 
        /* justify-content: space-between;  */
        /* padding: 1rem 2rem;  */
        background: #50505041; 
        flex-direction: column;
        /*-6.1%;*/
        margin-right: -5.1%; 
        margin-left: -5.1%;
        padding-right: 5.1%;
        padding-left: 5.1%;
        border-radius: 10px;
        a{
            text-decoration: none;
            color: #07ff28d3
        }
        ul {
            display: flex; 
            list-style: none; 
            flex-direction: column;
            padding-top: 0.05rem;
        }
        li {
            padding: 0.05rem 0;
        }
    }
    nav ul li{
        margin-left: 20 px;
        cursor: pointer;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        margin: 10px;
    }
    nav ul li:hover{
        border-bottom-color: rgba(0, 255, 0, 0.5);
    }
    summary {
        position: relative;
    }
    summary::marker {
        content: none;
    }
    
    summary::before,
    summary::after {
        content: '';
    }
    
    summary::before,summary::after {
        width: .75em;
        height: 0;
        border-bottom: 2px solid;
        position: absolute;
        top: calc(50% - 1px);
        right: 0;
        transform: translateY(-50%);
        transition: 200ms;
    }
    
    summary::after {
        transform: rotate(90deg);
        transform-origin: 50% 50%;
    }
    
    [open] summary::after {
        transform: rotate(0deg);
    }
    details {
        border-radius: 0.5rem;
        margin: 1rem;
        transition: 50ms;
    }

    details[open] {
        padding-bottom: 1em;
    }

    .pre{
        display: block;
        unicode-bidi: embed;
        font-family: monospace;
        white-space: pre;
        cursor: url(../images/SnK\ Blade.cur),auto;
        .Option{
            color: green;
            .OneLetterOption{
                color: greenyellow;
            }
        }
        .OneLetterOption{
            color: rgb(153, 255, 20);
        }
        .descriptionOption{
            color:aqua;
        }
        .Utilisation{
            color:aquamarine;
        }
        .Exemple{
            color:darkcyan;
        }
        .fichier{
            color: yellow;
        }
        .helpDoc{cursor: url(../images/Luffy\ Help.cur),auto;}
    }

}

@media screen and (max-width: 700px) {
    nav{
        justify-content: center;
        ul{
            font-size: 0.5em;
        }
    }    
}

.fin{
    background-image: linear-gradient( #00000000 10%, #000000FF 90%);
    height: 50px;
    margin: 0% -3%;
}
.DebutDeLafin{
    background-image: linear-gradient( #000000FF 10%, #00000000 90%);
    height: 50px;
    margin: 0% -3%;
}